header {
background-color: #424242;
    border-radius: 20px;
}

ul{
margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-family: Orator Std;
    list-style: none;
}
    
header li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 32%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-right: 2px solid white;
    
}

header li:last-of-type{
    border:0;
}

h1 {
    text-align: center;
    font-family: Copperplate gothic bold;
    
}

main { 
    margin: auto;
}

.image-left, .text-right{
    display: inline-block;
}

.image-left{
    width:350px;
}

.image-left img{
    width:100%;
}

.text-right{
    width:600px;
    margin-left:20px;
    text-align: center;
    vertical-align: top;
}

body { 
    background-image: url("images/fond-ecran-informatique-divers-033.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav li:hover a{
    color: red;
}

.active a {
    color: red;
}

.bloc-parcours{
    text-align: center
}
